@charset "UTF-8";
/* @group Base */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chosen-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	z-index: 1010;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
}

.chosen-container.chosen-with-drop .chosen-drop {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
}

.chosen-container a {
	cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name
	{
	margin-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after
	{
	content: ":";
	padding-left: 2px;
	vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff),
		color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
	background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}

.chosen-container-single .chosen-default {
	color: #999;
}

.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 6px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	background: url("chosen-sprite.png") -42px 1px no-repeat;
	font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}

.chosen-container-single .chosen-single div b {
	display: block;
	width: 100%;
	height: 100%;
	background: url("chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background: url("chosen-sprite.png") no-repeat 100% -20px;
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}

.chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search
	{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
	color: #444;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
	word-wrap: break-word;
	-webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7),
		color-stop(90%, #2a62bc));
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}

.chosen-container .chosen-results li.no-results {
	color: #777;
	display: list-item;
	background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}

.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}

.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
	width: 100%;
	height: auto;
	border: 1px solid #aaa;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee),
		color-stop(15%, #fff));
	background-image: linear-gradient(#eee 1%, #fff 15%);
	cursor: text;
}

.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]
	{
	margin: 1px 0;
	padding: 0;
	height: 25px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #999;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
	width: 25px;
}

.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 5px 3px 0;
	padding: 3px 20px 3px 5px;
	border: 1px solid #aaa;
	max-width: 100%;
	border-radius: 3px;
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4),
		color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
	background-size: 100% 19px;
	background-repeat: repeat-x;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
	word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close
	{
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url("chosen-sprite.png") -42px 1px no-repeat;
	font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover
	{
	background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4),
		color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
	color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close
	{
	background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #aaa;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee),
		color-stop(80%, #fff));
	background-image: linear-gradient(#eee 20%, #fff 80%);
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"]
	{
	color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}

.chosen-disabled .chosen-single {
	cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
	text-align: right;
}

.chosen-rtl .chosen-single {
	overflow: visible;
	padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
	margin-left: 38px;
}

.chosen-rtl .chosen-single div {
	right: auto;
	left: 3px;
}

.chosen-rtl .chosen-single abbr {
	right: auto;
	left: 26px;
}

.chosen-rtl .chosen-choices li {
	float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
	direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div
	{
	border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	background: url("chosen-sprite.png") no-repeat -30px -20px;
	direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
	background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b
	{
	background-position: -12px 2px;
}

.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff),
		color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
	background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}

.chosen-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 셀렉트박스 */
select {
	height: 31px;
	color: #717171;
	vertical-align: top;
	outline: none;
}

#wrap .chosen-container {
	vertical-align: top;
	text-align: left;
}

#wrap .chosen-single {
	height: 31px;
	color: #717171;
	vertical-align: top;
	outline: none;
	border: 1px solid #cccccc;
}

#wrap .chosen-single>span {
	line-height: 30px;
}

#wrap .chosen-container .chosen-results li {
	float: none;
}

#wrap .chosen-container .chosen-drop {
	border: 1px solid #cccccc;
	border-top: none 0;
}

#wrap .chosen-container .chosen-results li.active-result {
	text-align: left;
}

.join-agreement-content .form-element em {
	font-weight: bold;
	font-style: normal;
}

.sub-content {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0 0;
}

.context-box {
	float: left;
	width: 100%;
}

.member-wrap {
	width: 593px;
	margin: 20px auto 40px auto;
}

.join-agreement-wrap .member-title {
	overflow: hidden;
	border-bottom: 1px solid #999999;
}

.member-title h2 {
	font-size: 28px;
	margin: 0 0 20px 0;
	font-weight: bold;
}

.join-agreement-wrap .member-title ol {
	float: right;
	line-height: 62px;
}

.join-agreement-wrap .member-title .page-on {
	color: #181818;
}

.join-agreement-wrap .member-title ol li {
	float: left;
	font-size: 14px;
	color: #d1d1d1;
}

.join-agreement-wrap .member-title li span {
	font-size: 16px;
	font-weight: bold;
}

.join-agreement-wrap .member-title li span>img {
	padding: 0 14px;
	vertical-align: -1px;
}

.join-agreement-wrap .member-content {
	width: 743px;
	margin: 0 auto;
	border: none;
}

.member-content {
	padding: 70px 60px;
	/* border: 1px solid #dbdbdb; */
}

.join-agreement-wrap .join-agreement-content {
	padding: 30px 0 0 0;
	border-top: 1px solid #999999;
}

.join-agreement-content .join-agreement-box {
	margin: 0 0 30px 0;
}

.form-element {
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.form-element input {
	position: absolute;
	top: 3px;
	left: 1px;
	width: 0;
	z-index: -1;
}

.form-element label {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
	padding: 0 0 0 27px;
	background:
		url("https://www.boardgamemall.co.kr/data/skin/front/natural_C/img/common/input/check_off.png")
		no-repeat 1px top;
}

.join-agreement-content .form-element span {
	color: #717171;
	font-size: 11px;
}

.join-agreement-content .form-element span>a {
	padding: 0 10px 0 5px;
	color: #181818;
	font-size: 12px;
	background:
		url("https://www.boardgamemall.co.kr/data/skin/front/natural-C/img/member/icon-arrow-03.png")
		no-repeat right center;
	text-decoration: underline;
}

.join-agreement-content .agreement-box {
	overflow-x: hidden;
	overflow-y: auto;
	height: 89px;
	margin: 10px 0 0;
	padding: 20px;
	border: 1px solid #e6e6e6;
	border-top: 1px solid #999999;
	line-height: 18px;
}

.member-content .btn-center-box, .member-warning+.btn-center-box {
	margin: 35px 0 0 0;
}

.base-info-section table th:first-child, .base-info-section table td:first-child
	{
	border-left: none;
}

.base-info-section table th {
	text-align: left;
	padding-left: 12px;
	border-bottom: 1px solid #dcdcdc;
	background: #fbfbfb;
}

.join-base-wrap table th {
	padding: 10px 25px;
}

.join-base-wrap table th span {
	padding: 0 0 0 10px;
	margin: 0 0 0 -10px;
}

.base-info-section table td {
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #dcdcdc;
}

#wrap .member-warning {
	display: inline;
	position: relative;
}

.base-info-section table input[type="text"] {
	width: 380px;
}

input[type="text"], input[type="password"] {
	padding: 0 10px;
	outline: none;
	font-size: 12px;
}

input[type="text"], input[type="password"] {
	height: 31px;
	padding: 0 5px;
	color: #333333;
	border: 1px solid #d6d6d6;
	line-height: 31px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.join-base-wrap .important {
	background:
		url("https://www.boardgamemall.co.kr/data/skin/front/natural_C/img/member/icon_dot_03.png")
		no-repeat 0 center;
}

.base-info-section table .form-element {
	display: block;
	margin-top: 5px;
}

.form-element input {
	position: absolute;
	top: 3px;
	left: 1px;
	width: 0;
	z-index: -1;
}

input[type="checkbox"] {
	width: 13px;
	height: 13px;
	vertical-align: top;
}

#contents .member-address .address-postcode {
	overflow: hidden;
}

#contents .member-address .address-postcode input {
	float: left;
	width: 190px;
}

input[type="button"] {
	border: none;
	background: none;
	cursor: pointer;
}

#contents .member-address .address-input {
	float: left;
	width: 72%;
}

.btn-center-box {
	text-align: center;
}

.btn-member-prev {
	width: 150px;
	height: 45px;
	margin: 35px 0 0 0;
	color: #3e3d3c;
	font-size: 14px;
	border: 1px solid #cccccc;
	background: #ffffff;
	cursor: pointer;
}

.btn-center-box button+button, .btn-left-box button+button,
	.btn-right-box button+button {
	margin-left: 6px;
}

.btn-member-next {
	width: 150px;
	height: 45px;
	margin: 35px 0 0 0;
	color: #ffffff;
	font-size: 14px;
	border: 1px solid #181818;
	background: #181818;
	cursor: pointer;
	font-weight: bold;
}

/* 서브 메뉴가 오른쪽일때 */
#contents .sub_content>.content+.side_cont {
	padding: 0 0 0 40px;
}

.sub_content {
	width:100% !important;
}

#contents .sub_content>.content+.side_cont .sub_menu_box.layer_type .sub_depth1
	{
	right: 200px;
}

#contents .sub_content>.content+.side_cont .sub_menu_box.layer_type .sub_depth2
	{
	right: 160px;
}

#contents .sub_content>.content+.side_cont .sub_menu_box.layer_type .sub_depth3
	{
	right: 160px;
}

#contents .sub_content>.content+.side_cont .sub_menu_box.layer_type .sub_depth4
	{
	right: 160px;
}

/* 서브사이드  마이페이지 */
.side_cont .sub_menu_box .sub_menu_mypage {
	margin: 7px 0 0 0;
}

.side_cont .sub_menu_box .sub_menu_mypage>li {
	padding: 8px 0 20px 0;
	font-size: 14px;
	background: url('../img/common/lnb_tit.png') no-repeat top left;
}

.side_cont .sub_menu_box .sub_menu_mypage>li:first-child {
	margin: 30px 0 0 0;
}

.side_cont .sub_menu_box .sub_menu_mypage a {
	display: block;
	padding: 7px 0 6px 0;
	font-size: 14px;
}

.side_cont .sub_menu_box .sub_menu_mypage a:hover, .side_cont .sub_menu_box .sub_menu_mypage .active
	{
	font-weight: bold;
	background: #f8f8f8;
	color: #212121;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 {
	margin: 5px 0 25px 0;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 li {
	padding: 1px 0 0 0;
	font-weight: normal;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 a {
	text-decoration: none;
	color: #999999;
	font-size: 12px;
	text-indent: 10px;
	color: #999999;
}

/* 서브 사이드 메뉴 */
.sub_menu_box {
	font-family: 'GmarketSansMedium';
}

.side_cont .sub_menu_box {
	min-height: 250px;
	padding: 0 0 50px 0;
}

.side_cont .sub_menu_box .sub_menu {
	margin: 7px 0 0 0;
}

.side_cont .sub_menu_box .sub_menu li {
	padding: 1px 0 0 0;
}

.side_cont .sub_menu_box .sub_menu a {
	display: block;
	padding: 7px 0 6px 10px;
	font-size: 14px;
}

.side_cont .sub_menu_box .sub_menu a:hover, .side_cont .sub_menu_box .sub_menu .active
	{
	font-weight: bold;
	background: #f8f8f8;
	color: #212121;
}

.side_cont .sub_menu_box .sub_menu .sub_depth1 {
	margin: 0 0 15px 0;
}

.side_cont .sub_menu_box .sub_menu .sub_depth1 li {
	
}

.side_cont .sub_menu_box .sub_menu .sub_depth1 a {
	padding: 0 0 0 10px;
	font-size: 12px;
}

.sub_menu_box_tit {
	color:#ffffff;
	background-color:#0188CB;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
}

.sub_menu_box_tit h2 {
	font-size:18px;
}

/* CSS Document */

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, textarea, p, blockquote, th, td, input, select,
	textarea, button {
	margin: 0;
	padding: 0
}

fieldset, img {
	border: 0 none;
	vertical-align: top;
}

dl, ul, ol, li {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

input, select, textarea, button {
	vertical-align: middle
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}

body {
	background: #fff
}

body, th, td, input, select, textarea, button {
	font-size: 12px;
	line-height: 1.5;
	font-family: 'SUIT', sans-serif;
	color: #666
} /* color값은 디자인가이드에 맞게사용 */
a {
	color: #333;
	text-decoration: none
}

a:active, a:hover {
	text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: normal
}

@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	font-style: normal;
	src:
		url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.eot');
	src:
		url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.eot?#iefix')
		format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff')
		format('woff'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.ttf')
		format("truetype");
	font-display: swap;
}

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NEXON Lv2 Gothic';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#mm {
	display: flex;
	align: center !important;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.LLi {
	width: 450px;
}

#mm ul {
	width: 450px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
	#mm li img {
		width: 100%;
	}
	.LLi {
		width: 50%;
	}
	#mm ul {
		width: 50%;
	}
}

@media only screen and (max-width: 599px) {
	#mm li img {
		width: 100%;
	}
	.LLi {
		width: 100%;
	}
	#mm ul {
		width: 100%;
	}
}
/* 배송지 관리 > 새 배송지 추가 */
.btn_add_shipping {
	position: absolute;
	top: -42px;
	right: 0;
	height: 30px;
	padding: 0 10px;
	line-height: 28px;
	color: #fff;
	border: 1px solid #979797;
	background: #979797;
	text-align: center;
}

.btn_add_shipping:hover {
	border: 1px solid #626262;
	background: #626262;
}
/* 계정 연결 정보 */
.site_info_box {
	margin: 40px 0 0 0;
}

.site_sns_info {
	padding: 30px 20px 30px 20px;
	border: 1px solid #dadada;
}

.site_sns_info .site_sns_list {
	
}

.site_sns_info .site_sns_list h4 {
	display: inline-block;
	margin: 0 14px 0 0;
	color: #777777;
}

.site_sns_info .site_sns_list em {
	display: block;
	padding: 0 0 15px 0;
}

.site_sns_info .site_sns_list span {
	display: inline-block;
	margin: 0 0 0 0;
	vertical-align: middle;
}

.site_sns_info .site_sns_list a {
	display: inline-block;
	margin: 0 6px 10px 0;
	vertical-align: top;
	line-height: 1;
}

.site_sns_info .site_sns_list a>span {
	display: block;
	margin: 0 0 0 0;
	font-size: 13px;
}

.site_sns_info .site_sns_list img {
	margin: 0 0 0 0;
}

.site_sns_info .site_sns_list .my_facebook {
	color: #3b5998;
}

.site_sns_info .site_sns_list .my_payco {
	color: #fa4a4a;
}

.site_sns_info .site_sns_list .my_naver {
	color: #2db400;
}

.site_sns_info .site_sns_list .my_kakao {
	color: #381e1f;
}

.site_sns_info .site_sns_list_disconnect span {
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

.site_sns_info .site_sns_list_disconnect a {
	display: inline-block;
	width: 225px;
	height: 42px;
	margin: 0 6px 0 0;
	border: 1px solid #cfcfcf;
	background: #fafafa;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
}

.site_sns_info .site_sns_list_disconnect a>span {
	display: block;
	margin: 14px 0 0 0;
	font-size: 13px;
}

.site_sns_info .site_sns_list_disconnect img {
	margin: 0 8px 0 0;
}
/* 약관동의현황 */
.my_page .join_agreement_cont {
	margin: 40px 0 0 0;
}

.my_page .join_agreement_cont h3 {
	margin: 0 0 10px 0;
}

.mypage_zone_tit {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	font-size: 16px;
}

.mypage_zone_tit h3 {
	display: inline-block;
	font-size: 16px;
}

.mypage_zone_tit h4 {
	font-size: 16px;
}

.mypage_zone_tit span {
	padding: 0 0 0 5px;
	color: #777777;
	font-size: 12px;
	font-weight: normal;
}

.mypage_shipping .mypage_zone_tit h3 {
	display: inline-block;
}

.mypage_shipping .mypage_zone_tit .pick_list_num {
	display: inline-block;
}

.pick_list_num {
	display: block;
	padding: 20px 0 10px 0;
	font-size: 14px;
}

.pick_list_num strong {
	color: #181818;
}

.pick_list_day {
	display: block;
	padding: 20px 0 10px 0;
	font-size: 14px;
}

/* ------------- 테이블 공통(텍스트 센터 기본) ------------- */
.mypage_table_type {
	
}

.mypage_table_type .td_left {
	text-align: left;
}

.mypage_table_type table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
}

.mypage_table_type th {
	padding: 9px 10px 10px 10px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #dbdbdb;
	background: #f7f7f7;
}

.mypage_table_type td {
	height: 31px;
	padding: 15px 10px 14px 10px;
	color: #777777;
	border-bottom: 1px solid #dbdbdb;
	/*border-left:1px dotted #ededed;*/
}

.mypage_table_type td>strong {
	color: #181818;
}

.mypage_table_type .btn_down_box {
	
}

.mypage_table_type th .form_element {
	vertical-align: middle;
}

.mypage_table_type .text_info {
	display: block;
	padding: 2px 0 2px 0;
	color: #999999;
	font-size: 11px;
}

.mypage_table_type .coupon_price {
	color: #333333;
	font-size: 14px;
}

.mypage_table_type .coupon_price b {
	padding: 0 2px 0 0;
	font-size: 16px;
}

.mypage_table_type .row_line td {
	border-bottom: 1px solid #ebebeb;
}

.mypage_table_type table td.order_day_num {
	border-right: 1px dotted #ededed;
	border-bottom: 1px solid #dbdbdb;
}

/* 날짜/주문번호 */
.mypage_table_type .btn_claim>span {
	display: inline-block;
	margin: 7px 0 0 0;
}

/* ------------- 마이페이지 > 배송지 관리 ------------- */
.mypage_shipping {
	position: relative;
}

.mypage_shipping_cont {
	position: relative;
}

.mypage_shipping_cont .pick_list_num {
	position: absolute;
	top: -50px;
	left: 92px;
	font-size: 13px;
}

.mypage_shipping_cont .mypage_table_type span {
	display: block;
}

.mypage_shipping_cont .mypage_table_type .btn_gray_list {
	margin: 5px 0 5px 0;
}

.mypage_table_type .td_phone span {
	width: 150px;
}